{{ form_start(form) }}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>

<div class="mb-3">
    <label for="project_name" class="form-label"> {{ form_label(form.name) }}</label>
    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder' : 'projectname'}}) }}
</div>

<div class="mb-3">
    {{ form_widget(form.save, {'label': button_label, 'attr': {'class': 'btn btn-primary mb-3'}}) }}
</div>

{{ form_end(form) }}
